<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./style.css" />
    <title>Akora | Santa Maria</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="brand">
          <a href="index.html">Akora</a>
        </div>
        <div class="header-links">
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>

      <main class="main">
        <div class="content">
          <ul class="products">
            <li>
              <div class="product">
                <img class="product-image" src="./img/d1.jpg" alt="product 1" />
                <div class="product-name">
                  <a href="product.html">Ecomais Limpa Pisos</a>
                </div>
                <div class="product-brand">Akora</div>
                <div class="product-price">R$30,00</div>
                <div class="product-rating">4.5 Stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="./img/d1.jpg" alt="product 1" />
                <div class="product-name">
                  <a href="product.html">Ecomais Limpa Pisos</a>
                </div>
                <div class="product-brand">Akora</div>
                <div class="product-price">R$30,00</div>
                <div class="product-rating">4.5 Stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="./img/d1.jpg" alt="product 1" />
                <div class="product-name">
                  <a href="product.html">Ecomais Limpa Pisos</a>
                </div>
                <div class="product-brand">Akora</div>
                <div class="product-price">R$30,00</div>
                <div class="product-rating">4.5 Stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="./img/d1.jpg" alt="product 1" />
                <div class="product-name">
                  <a href="product.html">Ecomais Limpa Pisos</a>
                </div>
                <div class="product-brand">Akora</div>
                <div class="product-price">R$30,00</div>
                <div class="product-rating">4.5 Stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="./img/d1.jpg" alt="product 1" />
                <div class="product-name">
                  <a href="product.html">Ecomais Limpa Pisos</a>
                </div>
                <div class="product-brand">Akora</div>
                <div class="product-price">R$30,00</div>
                <div class="product-rating">4.5 Stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="./img/d1.jpg" alt="product 1" />
                <div class="product-name">
                  <a href="product.html">Ecomais Limpa Pisos</a>
                </div>
                <div class="product-brand">Akora</div>
                <div class="product-price">R$30,00</div>
                <div class="product-rating">4.5 Stars (10 reviews)</div>
              </div>
            </li>
          </ul>
        </div>
      </main>
      <footer class="footer">All right reserved.</footer>
    </div>
  </body>
</html>
